.container {
  margin-bottom: 60px;
}
.slide-bg {
  background-color: #feeae9;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.buy-now-btn {
  color: white;
  border: none;
  padding: 9px 25px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
}
